<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars Page</title>
</head>
<body>
    <div>
        <h1>Welcome to the Cars Page</h1>
    </div>
    <div>
        <img src="./images/cars.jpg" alt="Car Picture" width="900">
    </div>
    <div>
        <a href="/cars/new">Click here to enter information about a new car</a>
    </div>
    <div>
        <a href="/">Back</a>
    </div>
</body>
</html>